.box {
    padding:  20px 50px;
    background: hsl(210, 40%, 85%);
    margin: 20px;
    margin-left: 100px;
    text-align: center;
    color: hsl(210, 40%, 45%);
    border-top: 2px solid hsl(210, 40%, 45%);
    font-family: sans-serif;
    font-weight: bold;
}

