div {
    background: #ededed;
    padding: 20px;
    font-family: sans-serif;
    border-left: 5px solid #999;
}

h1 {
    margin: 0;
    font-size: 24px;
}

span {
    color: #999;
    font-size: 16px;
    font-weight: 100;
}

p {
    color: #555;
}